In [1]:
# import dependancies
import pandas as pd

from sqlalchemy import create_engine
from config import db_password

In [2]:
# Load in data from csv file
df = pd.read_csv('Resources/listing.csv',index_col=0)

In [3]:
# Remove text from beds and baths column
#df['Beds'] = df['Beds'].str.extract(r'(\d+)', expand=False) - this removes all text(does not work for 1+1 types)
df['Beds'] = df['Beds'].str.replace('\ beds','')
df['Baths'] = df['Baths'].str.extract(r'(\d+)', expand=False)
df['Price'] = df['Price'].str.replace('\ CAD', '')
df['Price'] = df['Price'].str.replace(r'\$', '')
df['Price'] = df['Price'].str.replace(r'\,', '')
df['Price'] = df['Price'].astype(int)
df['Location'] = df['Location'].str.replace('\n\n','')
df['All_Text'] = df['All_Text'].str.replace('\n\n','')

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

In [4]:
df.shape

(3973, 6)

In [5]:
df.head(2)

,Address,Price,Beds,Baths,Location,All_Text
0,2323 Confederation Pkwy 1102,430000,2,2,Mississauga\nCooksville\nConfederation Pkwy\n(...,"2323 Confederation Pkwy 1102\n$430,000 CAD\n2 ..."
1,816 Lansdowne Ave 411,598000,1+1,1,Toronto\nDovercourt-Wallace Emerson-Junction\n...,"816 Lansdowne Ave 411\n$598,000 CAD\n1 baths\n..."

In [6]:
# Look at all information in a column
#pd.set_option('display.max_colwidth', None)
#print(df['All_Text'])

In [7]:
# Split data into columns from Location column
tmpDF = pd.DataFrame(columns=['LocA','LocB','LocC','LocD','LocE'])
tmpDF [['LocA','LocB','LocC','LocD','LocE']] = df['Location'].str.split('\n', expand=True)

In [8]:
tmpDF.shape

(3973, 5)

In [9]:
# Filter on shifted columns and re-shape
tmpDF2 = tmpDF.loc[(tmpDF['LocC']=='- BTC')]
tmpDF3 = tmpDF2.drop(columns=['LocD','LocE'])
tmpDF3 = tmpDF3.rename(columns={'LocA':'LocA2','LocB':'LocD2','LocC':'LocE2'})

In [10]:
tmpDF3.shape

(732, 3)

In [11]:
# Filter on shifted columns where LocC is not equal to '- BTC'
tmpDF4 = tmpDF.loc[(tmpDF['LocC']!='- BTC')]

In [12]:
tmpDF4.shape

(3241, 5)

In [13]:
# Combine two Location dataframes to created new one with aligned columns
location_df = pd.concat([tmpDF3, tmpDF4], axis=1, join='outer')
location_df = location_df.fillna('')

In [14]:
# Combine columns from joined dataframes for location
location_df['LocA'] = location_df['LocA2'].astype(str) + location_df['LocA']
location_df['LocD'] = location_df['LocD2'].astype(str) + location_df['LocD']
location_df['LocE'] = location_df['LocE2'].astype(str) + location_df['LocE']
location_df = location_df.drop(columns=['LocA2','LocD2','LocE2','LocD','LocE'])

In [15]:
# Rename columns
location_df = location_df.rename(columns={'LocA':'City', 'LocB':'Area','LocC':'Street'})

In [16]:
# Split the data in All_Text
tmpDFT = pd.DataFrame(columns=['A','B','C','D','E','F','G','H','I','J','K','L','M'])
tmpDFT [['A','B','C','D','E','F','G','H','I','J','K','L','M']] = df['All_Text'].str.split('\n', expand=True)

In [17]:
# Create temporary dataframe for rows with missing data
tmpDFT2 = tmpDFT.loc[(tmpDFT['H']!='- BTC')]
tmpDFT2 = tmpDFT2.drop(columns=['L','M'])

In [18]:
# Create temporary dataframe for rows with data
tmpDFT3 = tmpDFT.loc[(tmpDFT['H']=='- BTC')]

In [19]:
# Rename columns in missing rows DF
tmpDFT2 = tmpDFT2.rename(columns={'A':'A2','B':'B2','C':'C2', 'D':'D2','E':'G2','F':'H2', 'G':'I2','H':'J2','I':'K2','J':'L2','K':'M2'})

In [20]:
# Combine two All_Text dataframes to created new one with aligned columns
alltext_df = pd.concat([tmpDFT2, tmpDFT3], axis=1, join='outer')
alltext_df = alltext_df.fillna('')

In [21]:
# Combine columns from joined dataframes for All_Text
alltext_df['A'] = alltext_df['A'].astype(str) + alltext_df['A2']
alltext_df['B'] = alltext_df['B'].astype(str) + alltext_df['B2']
alltext_df['C'] = alltext_df['C'].astype(str) + alltext_df['C2']
alltext_df['D'] = alltext_df['D'].astype(str) + alltext_df['D2']
alltext_df['G'] = alltext_df['G'].astype(str) + alltext_df['G2']
alltext_df['H'] = alltext_df['H'].astype(str) + alltext_df['H2']
alltext_df['I'] = alltext_df['I'].astype(str) + alltext_df['I2']
alltext_df['J'] = alltext_df['J'].astype(str) + alltext_df['J2']
alltext_df['K'] = alltext_df['K'].astype(str) + alltext_df['K2']
alltext_df['L'] = alltext_df['L'].astype(str) + alltext_df['L2']
alltext_df['M'] = alltext_df['M'].astype(str) + alltext_df['M2']

In [22]:
alltext_df.shape

(3973, 24)

In [23]:
# Delete redundant columns and change name
alltext_df = alltext_df.drop(columns=['A2','B2','C2','D2','G2','H2','I2','J2','K2','L2','M2','A','B','C','D','E','F','G','H','J','K','L','M'])
alltext_df = alltext_df.rename(columns={'I':'Description'})

In [24]:
# Rename columns in All_Text
alltext_df = alltext_df.rename(columns={'A':'A2','B':'B2','C':'C2', 'D':'D2','E':'G2','F':'H2', 'G':'I2','H':'J2','I':'K2','J':'L2','K':'M2'})

In [25]:
# Add Location and All_Text data
location_alltext_df = pd.concat([location_df,alltext_df], axis=1, join='outer')

In [26]:
location_alltext_df.shape

(3973, 4)

In [27]:
# Add Location and All_Text dataframe to original
total_df = pd.concat([df,location_alltext_df], axis=1, join='outer')

In [28]:
# Change order of columns
total_df = total_df[['Address','Price','Beds','Baths','City','Area','Street','Description']]
total_df.head(2)

,Address,Price,Beds,Baths,City,Area,Street,Description
0,2323 Confederation Pkwy 1102,430000,2,2,Mississauga,Cooksville,Confederation Pkwy,Beautiful Bright And Spacious Condo Unit 2 Bed...
1,816 Lansdowne Ave 411,598000,1+1,1,Toronto,Dovercourt-Wallace Emerson-Junction,Lansdowne Ave,Large Renovated One Bedroom+Den 646 Sf! Great ...

In [29]:
total_df.shape

(3973, 8)

In [30]:
# Using temp to see how many much missing data from City, Area and Street
temp1 = total_df.loc[(total_df['Area']=='')]
temp1.shape

(732, 8)

In [31]:
# Total dataframe head
total_df.head(2)

,Address,Price,Beds,Baths,City,Area,Street,Description
0,2323 Confederation Pkwy 1102,430000,2,2,Mississauga,Cooksville,Confederation Pkwy,Beautiful Bright And Spacious Condo Unit 2 Bed...
1,816 Lansdowne Ave 411,598000,1+1,1,Toronto,Dovercourt-Wallace Emerson-Junction,Lansdowne Ave,Large Renovated One Bedroom+Den 646 Sf! Great ...

In [32]:
# Add the Beds column numbers together
total_df[['Beds', 'Plus']] = total_df['Beds'].str.split('+', 1, expand=True)

In [33]:
# Replace None values with 0 in Plus column which is split from Beds
total_df['Plus'] = total_df['Plus'].replace('None',0).fillna(0)

In [34]:
# Change columns from string to int Beds, Baths and Plus
total_df['Beds'] = total_df['Beds'].astype(int)
total_df['Baths'] = total_df['Baths'].astype(int)
total_df['Plus'] = total_df['Plus'].astype(int)

In [35]:
# Add Beds + Plus to get total of bedrooms in Beds column
total_df['Beds'] = total_df['Beds'] + total_df['Plus']
total_df = total_df.drop(['Plus'], axis=1)

In [36]:
# How many type of bedroom counts
total_df['Beds'].value_counts()

3     1004
2      838
4      817
5      444
6      253
1      232
0      213
7       98
8       43
9       17
10       8
12       2
11       2
18       1
13       1
Name: Beds, dtype: int64

In [37]:
# Using temp to see how many listings with 0 bedrooms
temp = total_df.loc[(total_df['Beds']==0)]
temp.shape

(213, 8)

In [38]:
# How many type of bathroom counts
total_df['Baths'].value_counts()

2     1288
3      813
1      711
4      596
5      216
0      176
6       97
7       36
8       15
9       12
11       6
10       5
14       2
Name: Baths, dtype: int64

In [39]:
# Using temp to see how listings with 0 bathrooms
temp2 = total_df.loc[(total_df['Baths']==0)]
temp2.shape

(176, 8)

In [40]:
# Want to see how many listings with no bedrooms, but 1 or more bathrooms
# Turns out we have 40 listings with 0 bedrooms and 1 or more bathrooms
temp3 = total_df.loc[(total_df['Beds']==0) & (total_df['Baths']!=0)]
temp3.shape

(40, 8)

In [41]:
# Remove the 213 listings without bedrooms + 3 without bathrooms - includes 40 listings with 0 bedrooms and 1 or more bathrooms
total_df.drop(total_df.index[total_df['Beds']==0], inplace=True)
total_df.drop(total_df.index[total_df['Baths']==0], inplace=True)
total_df

,Address,Price,Beds,Baths,City,Area,Street,Description
0,2323 Confederation Pkwy 1102,430000,2,2,Mississauga,Cooksville,Confederation Pkwy,Beautiful Bright And Spacious Condo Unit 2 Bed...
1,816 Lansdowne Ave 411,598000,2,1,Toronto,Dovercourt-Wallace Emerson-Junction,Lansdowne Ave,Large Renovated One Bedroom+Den 646 Sf! Great ...
6,109 Lake St,750000,4,2,St. Catharines,,,Investors!! Maintenance-Free Solid 4 Plex-Full...
7,321 Queenston Rd,1899000,4,4,Niagara-on-the-Lake,,,"Welcome To 321 Queenston Rd, Overlooking Viney..."
8,650 Upper Sherman Ave,899000,4,2,Hamilton,Burkholme,Upper Sherman Ave,Absolutely Fantastic Opportunity !!! Detach Ho...
...,...,...,...,...,...,...,...,...
3968,176 Church St,1199000,6,3,Brampton,Brampton North,Church St,Excellent Location Detached House Close To All...
3969,283 Barrie Rd,1349000,4,4,Barrie Rd,,,"Luxury, Space & Strength All-In-1 Home Designe..."
3970,4 Hughes St,1429995,4,2,,Oak Ridges,Hughes St,"Property With High Development Potential, Area..."
3971,4433 Major Mackenzie Dr Blk 1-3,1350990,3,4,Vaughan,Vellore Village,Major Mackenzie Dr,Archetto Woodbridge Towns Is A New Townhouse D...
3972,90 Crosby Ave,2289000,7,4,,Crosby,Crosby Ave,4 Units [3 Two Bedrooms( Main Building) & 1 O...

In [42]:
total_df.shape

(3757, 8)

In [43]:
# Review the data types we now have in each column
total_df.dtypes

Address        object
Price           int32
Beds            int32
Baths           int32
City           object
Area           object
Street         object
Description    object
dtype: object

In [44]:
# Quick preliminary statistics on numeric columns
total_df.describe()

              Price         Beds        Baths
count  3.757000e+03  3757.000000  3757.000000
mean   1.418904e+06     3.528347     2.754591
std    1.378764e+06     1.619259     1.490807
min    3.650000e+03     1.000000     1.000000
25%    6.999000e+05     2.000000     2.000000
50%    9.990000e+05     3.000000     2.000000
75%    1.599000e+06     4.000000     4.000000
max    3.499900e+07    18.000000    14.000000

In [45]:
# Save the cleaned file to csv
total_df.to_csv('Listing_cleaned.csv')

In [46]:
# load df into sql database
db_string=f"postgresql://postgres:{db_password}@127.0.0.1:5432/capstone_group6"
engine=create_engine(db_string)
total_df.to_sql(name='Listing_cleaned', con=engine, if_exists='replace', index=False)