In [1]:
# import dependancies
import pandas as pd

from sqlalchemy import create_engine
from config import db_password

In [2]:
# Load in data from csv file
df = pd.read_csv('Resources/2a71-das-wage2021opendata-esdc-all-19nov2021-vf.csv')

In [3]:
# Create dataframe of hourly data
df_hourly = df.loc[(df.Annual_Wage_Flag_Salaire_annuel==0)]

In [4]:
# Translate hourly to salary data
df_hourly.Low_Wage_Salaire_Minium *=2080
df_hourly.Median_Wage_Salaire_Median *=2080
df_hourly.High_Wage_Salaire_Maximal *=2080

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [5]:
# Create dataframe of salary data
df_salary = df.loc[(df.Annual_Wage_Flag_Salaire_annuel==1)]

In [6]:
# Combine the 2 dataframes
df_total = pd.concat([df_salary, df_hourly], ignore_index=True, sort=False)

In [7]:
# Delete the Annual Wage Flag column
df_total = df_total.drop(['Annual_Wage_Flag_Salaire_annuel'], axis=1)

In [8]:
# create dataframe with only Ontario values
df_ont = df_total.loc[df_total['PROV'] == 'ON']

In [9]:
# Look at the various regions available
print(df_ont['ER_Name_Nom_RE'].unique())

['Ontario' 'Ottawa' 'Kingston--Pembroke' 'Muskoka--Kawarthas' 'Toronto'
 'Kitchener--Waterloo--Barrie' 'Hamilton--Niagara Peninsula' 'London'
 'Windsor--Sarnia' 'Stratford--Bruce Peninsula' 'Northeast' 'Northwest']

In [10]:
df_ont.head(2)

,NOC_CNP,NOC_Title,Titre_CNP,PROV,ER_Code_Code_RE,ER_Name_Nom_RE,Low_Wage_Salaire_Minium,Median_Wage_Salaire_Median,High_Wage_Salaire_Maximal,Data_Source_E,Data_Source_F,Reference_Period,Revision_Date_Date_revision,Wage_Comment_E,Wage_Comment_F
37,NOC_0011,Legislators,Membres des corps législatifs,ON,ER35,Ontario,30296.0,70271.0,147964.0,2016 Census,Recensement 2016,2016,11/17/2021,"In this occupation, a large number of people a...","Dans cette profession, il y a un grand nombre ..."
38,NOC_0011,Legislators,Membres des corps législatifs,ON,ER3510,Ottawa,NaN,NaN,NaN,NaN,NaN,NaN,11/17/2021,"Due to data limitations, the wage for this occ...","En raison des limites associées aux données, l..."

In [11]:
df_ont.shape

(6000, 15)

In [12]:
# Delete the records without salary information
# df_ont.drop(df_ont[df_ont.Median_Wage_Salaire_Median == 'Nan'].index, inplace=True)
df_ont = df_ont[df_ont['Median_Wage_Salaire_Median'].notnull()]
df_ont.shape

(3591, 15)

In [13]:
# Save the cleaned file to csv
df_ont.to_csv('Salaries_cleaned_ontario.csv')

In [14]:
# load df_ont into sql database which now only have Ontario values
db_string=f"postgresql://postgres:{db_password}@127.0.0.1:5432/capstone_group6"
engine=create_engine(db_string)
df_ont.to_sql(name='salaries', con=engine, if_exists='replace', index=False)