In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [33]:
df = pd.read_csv("Listing_cleaned.csv")
df

,Unnamed: 0,Address,Price,Beds,Baths,City,Area,Street,Description
0,0,2323 Confederation Pkwy 1102,430000,2,2,Mississauga,Cooksville,Confederation Pkwy,Beautiful Bright And Spacious Condo Unit 2 Bed...
1,1,816 Lansdowne Ave 411,598000,2,1,Toronto,Dovercourt-Wallace Emerson-Junction,Lansdowne Ave,Large Renovated One Bedroom+Den 646 Sf! Great ...
2,6,109 Lake St,750000,4,2,St. Catharines,NaN,NaN,Investors!! Maintenance-Free Solid 4 Plex-Full...
3,7,321 Queenston Rd,1899000,4,4,Niagara-on-the-Lake,NaN,NaN,"Welcome To 321 Queenston Rd, Overlooking Viney..."
4,8,650 Upper Sherman Ave,899000,4,2,Hamilton,Burkholme,Upper Sherman Ave,Absolutely Fantastic Opportunity !!! Detach Ho...
...,...,...,...,...,...,...,...,...,...
3752,3968,176 Church St,1199000,6,3,Brampton,Brampton North,Church St,Excellent Location Detached House Close To All...
3753,3969,283 Barrie Rd,1349000,4,4,Barrie Rd,NaN,NaN,"Luxury, Space & Strength All-In-1 Home Designe..."
3754,3970,4 Hughes St,1429995,4,2,NaN,Oak Ridges,Hughes St,"Property With High Development Potential, Area..."
3755,3971,4433 Major Mackenzie Dr Blk 1-3,1350990,3,4,Vaughan,Vellore Village,Major Mackenzie Dr,Archetto Woodbridge Towns Is A New Townhouse D...
3756,3972,90 Crosby Ave,2289000,7,4,NaN,Crosby,Crosby Ave,4 Units [3 Two Bedrooms( Main Building) & 1 O...

In [44]:
df.City.value_counts()

Toronto                    178
Mississauga                103
Vaughan                     85
Brampton                    79
Richmond Hill               72
                          ...
Boardwalk Dr                 1
Lynn Williams St             1
Leader Lane                  1
Richmond Street West St      1
Barrie Rd                    1
Name: City, Length: 362, dtype: int64

In [48]:
import statsmodels.api as sm
sm.OLS(df.Price, df[['Beds', 'Baths']]).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Price   R-squared (uncentered):                   0.666
Model:                            OLS   Adj. R-squared (uncentered):              0.666
Method:                 Least Squares   F-statistic:                              3743.
Date:                Sat, 29 Jan 2022   Prob (F-statistic):                        0.00
Time:                        11:31:25   Log-Likelihood:                         -57739.
No. Observations:                3757   AIC:                                  1.155e+05
Df Residuals:                    3755   BIC:                                  1.155e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Beds        3.334e+04   1.42e+04      2.355      0.019    5581.107    6.11e+04
Baths       4.764e+05   1.75e+04     27.146      0.000    4.42e+05    5.11e+05
==============================================================================
Omnibus:                     5957.976   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          8469112.667
Skew:                           9.720   Prob(JB):                         0.00
Kurtosis:                     234.783   Cond. No.                         5.86
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [4]:
#separate the other attributes from the predicting attribute
X = df[['Beds', 'Baths', 'Area']]

#separate the predicting attribute into Y for model training 
y = df['Price']

In [5]:
X.Area

      Beds  Baths                                 Area
0        2      2                           Cooksville
1        2      1  Dovercourt-Wallace Emerson-Junction
2        4      2                                  NaN
3        4      4                                  NaN
4        4      2                            Burkholme
...    ...    ...                                  ...
3752     6      3                       Brampton North
3753     4      4                                  NaN
3754     4      2                           Oak Ridges
3755     3      4                      Vellore Village
3756     7      4                               Crosby

[3757 rows x 3 columns]

In [6]:
X = df[['Beds','Baths','Area']].copy()
X['Area'] = LabelEncoder().fit_transform(X['Area'])
X = X.dropna()
X.head()

   Beds  Baths  Area
0     2      2   140
1     2      1   164
2     4      2   623
3     4      4   623
4     4      2    94

In [7]:
X_scaled = MinMaxScaler().fit_transform(X)

In [8]:
X.describe()

              Beds        Baths         Area
count  3757.000000  3757.000000  3757.000000
mean      3.528347     2.754591   367.648390
std       1.619259     1.490807   205.779967
min       1.000000     1.000000     0.000000
25%       2.000000     2.000000   184.000000
50%       3.000000     2.000000   369.000000
75%       4.000000     4.000000   585.000000
max      18.000000    14.000000   623.000000

In [ ]:
# Check the balance of our target values
y.value_counts()

In [9]:
# handle categorical variable
X = pd.get_dummies(X,drop_first=True)
X.head()

   Beds  Baths  Area
0     2      2   140
1     2      1   164
2     4      2   623
3     4      4   623
4     4      2    94

In [24]:
X = X.join(pd.get_dummies(X.Area)).drop('Area', axis=1)
X.head()

,Beds,Baths,0,1,2,3,4,5,6,7,...,614,615,616,617,618,619,620,621,622,623
0,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [26]:
# Fit the model to the training data, and calculate the scores for the training and testing data.
from sklearn.linear_model import LinearRegression
model = LinearRegression()

### BEGIN SOLUTION
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

Training Score: 0.5442587380510091
Testing Score: -5.306052466061718e+22

/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [28]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [29]:
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

Training Score: 0.8419859453263713
Testing Score: 0.453853925683225

/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [18]:
y_prediction =  model.predict(X_test)
y_prediction

array([  990578.87780495,   863112.36898768,   903199.69873016,
        2855492.32      ,  1886222.5       ,   931588.96666667,
        1605244.41666667,  1182805.82333333,  1490391.2       ,
        1627950.54      ,  1365195.        ,   583735.25018038,
        1408462.6292619 ,  1435776.04397976,  1623982.96166667,
        2625479.82      ,   534691.67018927,  2191963.8       ,
        1497456.28      ,  2038161.8       ,   951297.09333333,
        2038215.5       ,   990578.87780495,  1165042.58333333,
         777717.5746229 ,  1793155.61666667,   930239.65294156,
         763045.98583333,   777717.5746229 ,  1176107.05739998,
        1271272.66666667,  1159713.28333333,  1421752.95      ,
        1160865.228     ,   479401.98      ,   953088.105     ,
        1364957.235     ,  3708617.07833333,  2040488.91666667,
         925080.844     ,   876224.74333333,   990578.87780495,
        1291329.97      ,  1532860.05866667,   953005.77      ,
         978285.60238095,   516890.        ,  1668895.25477023,
         548306.68238095,  1270764.        ,  1048626.27321553,
         777717.5746229 ,  1756435.88      ,   507764.        ,
        1541431.92928571,  1244587.5       ,   904906.76878753,
         744681.73      ,  1184018.75033655,  1623982.96166667,
        1266847.        ,  1435776.04397976,  4440189.98      ,
        1981549.81      ,  1001319.04571429,  1239559.02750046,
        1130621.16666667,   886830.5636581 ,   519243.        ,
        1351548.48932533,  1366842.33333333,   542976.90238095,
        1561506.94      ,  1650823.33333333,   724816.73586908,
        1150280.13809524,   552954.03843986,  2845941.22666667,
        1949235.66666667,   758924.46050816,  1176107.05739998,
        1039531.97904762,   852772.33333333,  1366922.75      ,
         750027.48      ,   552954.03843986,   869820.99      ,
         977078.33333333,  1536061.14533333,   681211.60714286,
        1262404.86333333,   799554.98      ,   973381.26611111,
         686395.86659851,   741036.51666667,  1734872.11333333,
        1309879.37      ,   856483.15      ,  2095954.58510823,
         466986.99      ,  1289732.11047619,  1532926.83333333,
         963578.99285714,   634740.92222222,  1036100.58966667,
        2038215.5       ,  8498808.88      ,   534691.67018927,
         573151.59781685,   534691.67018927,  5133421.92857143,
        1995749.96809524,  1907784.705     ,  1182805.82333333,
        4162341.5       ,  1351548.48932533,  1239559.02750046,
         904906.76878753,  2709969.645     ,  3121414.        ,
        1218932.96      ,   552584.3282799 ,  1127122.08470238,
        8718956.91      ,   921130.07833333,  1454316.13      ,
         776218.70618548,  2100089.57142857,  1532926.83333333,
         754756.76089286,  2531412.79      ,   883626.64666667,
        1668895.25477023,  1683793.12704762,  1082393.38095238,
         534691.67018927,  1069949.91666667,   671752.72187987,
         544619.69333333,  1010662.22133333,  3200278.15      ,
        1143084.2       ,  1351548.48932533,  2190682.87      ,
        2041714.09      ,  3076526.74      ,   535546.75079365,
         747611.85      ,  1652463.89      ,   825287.57508333,
        2998029.92      ,  1163405.66238095,   666788.26333333,
         850298.81666667,   552954.03843986,  2033884.70666667,
        1131066.95480664,  2313263.76      ,  2481304.33333333,
         753013.        ,  2303373.69      ,   991482.51984127,
        1077104.07      ,   906939.695893  ,   990578.87780495,
        1076299.61666667,  1763375.97      ,  1655354.59333333,
         682555.38383333,   545483.93333333,  1528857.55626407,
        1014962.6547619 ,  1850619.9       ,  3842904.        ,
         609928.82238095,  2287815.        ,  1268956.98      ,
        3831760.56666667,   503317.14666667,  6700184.97      ,
         840969.06666667,  2186144.5       ,  2466761.11111111,
        1010537.        ,   614205.2375    ,   906939.695893  ,
         766328.33333333,  2836470.97      ,  2128852.1       ,
        1435776.04397976,  1421752.95      ,  1735033.975     ,
        1131066.95480664,  1311765.50333333,   798018.51851483,
         990578.87780495,  3019525.95      ,   685077.33333333,
        2395778.88      ,  3076248.33333333,  2118813.8       ,
         656456.5       ,  2978980.773     ,   597282.28571429,
         859375.58      ,   672370.02059452,  2225239.85642857,
        1127122.08470238,  1480772.61904762,  1999513.65666667,
         825287.57508333,  1731589.37447619,  1122473.96825397,
        1375928.55714286,   480296.44166667,   917587.75      ,
         890813.92333333,  1064272.68152709,  1239559.02750046,
        1418246.29764347,  2442875.99      ,   971816.00083333,
         990578.87780495,  1351548.48932533,  2010514.28      ,
         906939.695893  ,  1130724.57      ,  3066913.19333333,
        1768013.18111111,  1131892.83333333,   836748.54      ,
         990578.87780495,  1289732.11047619,  1047428.65714286,
         661922.195     ,  1061333.        ,   744373.33333333,
        1835951.34388889,  2811203.05      ,  1792437.3547619 ,
         363002.59      ,   549393.99246032,   609969.86333333,
         813814.50979853,  1037503.16674242,   886830.5636581 ,
        2003359.944     ,   904906.76878753,   712985.        ,
        1238651.01160576,   552954.03843986,  1192097.9       ,
         930239.65294156,   820449.28      ,  1131066.95480664,
         754756.76089286,   488684.93333333, 17341952.10666667,
        2871403.83333333,   672370.02059452,  4456924.        ,
        1493629.9       ,   911138.62735837,  1265053.        ,
        1435776.04397976,  3694262.995     ,  2634196.8       ,
        3200234.36      ,   685602.33333333,  1002151.81833333,
        1475864.34666667,  2011230.76      ,   653018.16666667,
        1806501.38      ,  1250778.        ,   826327.32333333,
        1679544.        ,  2694931.72166667,  1402019.18333333,
         730310.86249861,   743961.54      ,   567677.25923629,
         646371.73333333,   886830.5636581 ,  2737748.98      ,
        1293599.99      ,  1670672.75      ,   990578.87780495,
        8153263.96      ,  1336708.1       ,  1588658.        ,
         823962.04573483,   776665.        ,   552954.03843986,
        1128568.42      ,   783144.60055468,   707851.91253968,
         534691.67018927,  1198134.11      ,   668874.99027721,
         930239.65294156,  1176107.05739998,  1471110.11333333,
        1037636.        ,   480296.44166667,  1351548.48932533,
         777045.        ,  1666128.73357143,   642817.48900397,
        1812013.59      ,   534691.67018927,  1475599.075     ,
        1348347.86      ,   921377.74      ,   816795.66666667,
         904906.76878753,   901161.98      ,   807594.        ,
        1012050.93333333,  1011980.15142857,   904906.76878753,
        2255670.32333333,  1435776.04397976,  3271366.        ,
        4026165.88333333,   885019.27333333,  1239559.02750046,
        1047637.35238095,  2172883.31333333,  1003197.5412381 ,
        1239559.02750046,  1947951.06666667,  2122437.21428571,
         649033.95      ,  1668800.33      ,  1264195.        ,
         686395.86659851,  1542947.84      ,   830245.        ,
        1435776.04397976,   752323.98515909,  1224298.3       ,
        6820248.75      ,   775206.85681362,   552954.03843986,
         700259.95      ,  1685668.37243142,   577513.03809524,
        1130724.57      ,  1146058.83333333,  1466214.10714286,
        1365195.        ,  2901478.38666667,  1628824.72791858,
        1613578.68      ,   872126.09444444,  6389545.        ,
         988100.        ,   534691.67018927,  1894134.33333333,
        1166346.93639971,  1296692.25333333,  1623982.96166667,
        2703739.23333333,   634577.3402381 ,   863112.36898768,
        1597562.89      ,  1461775.03      ,  2592663.9       ,
        1857942.93066667,   898436.98      ,   741036.51666667,
         859942.31      ,   955121.08305195,  1316658.43      ,
        1093922.32333333,  2390298.42      ,  1224649.96739372,
         702478.        ,  3111003.38666667,  1599987.21833333,
        2508567.        ,   605603.82619048,  3498340.58      ,
        1110240.85565428,  1104573.04761905,  2547017.76      ,
         671752.72187987,  2186144.5       ,   474907.89      ,
         621801.78571429,  2313878.79      ,   810975.57142857,
         883942.        ,   863112.36898768,   688575.96666667,
         990578.87780495,   990578.87780495,  1018392.        ,
        1492695.98      ,   827137.11      ,   947256.        ,
        2773215.        ,   534691.67018927,  2358136.4       ,
        6903686.92      ,   776218.70618548,  1169381.76904762,
        1244913.65666667,   881954.74133333,  1194770.        ,
        1403684.81333333,   512038.28333333,   875484.82019282,
         777717.5746229 ,  1035124.87      ,   777717.5746229 ,
         906939.695893  ,  1731589.37447619,  1901266.46583333,
         631987.5       ,  1273305.30055195,  1239559.02750046,
        1163405.66238095,   552954.03843986,   904906.76878753,
         688575.96666667,   904906.76878753,  2298874.75      ,
        1444974.11666667,  1159903.46512626,   611345.83333333,
         673971.66666667,   673971.66666667,   534505.        ,
         904906.76878753,   930622.95      ,  1366465.        ,
         997972.11333333,   534691.67018927,   944618.89285714,
         569825.96      ,   912832.83875   ,  1062706.02666667,
        1203685.16666667,  2519287.72333333,   916607.63      ,
        4309854.64      ,  1982105.        ,   737929.89      ,
        1463253.1       ,   863112.36898768,  1239559.02750046,
        1707694.28      ,  1133028.24      ,   990578.87780495,
         904906.76878753,   643296.8747619 ,   686395.86659851,
         930239.65294156,  1100858.        ,  1644863.68      ,
         961990.3       ,   515070.14666667,  6168969.62333333,
        1273455.        ,   574259.964942  ,   552954.03843986,
        1019676.64533333,  1131066.95480664,   914196.7       ,
         552954.03843986,   622421.30215873,  1615596.29866667,
        1224303.42333333,  1173081.16666667,  1621627.98333333,
        1697662.91      ,   904906.76878753,  1146745.185     ,
        1435776.04397976,  1230289.75      ,  2041714.09      ,
        2758210.        ,   825287.57508333,  1730847.75634921,
        1128839.87      ,  1185592.29025   ,   605603.82619048,
        1239559.02750046,  1681489.82142857,   777717.5746229 ,
        1869889.09166667,  1239559.02750046,  1052560.67673016,
         766328.33333333,  1919584.04      ,  2136189.87      ,
        1569517.3555    ,  1902204.65      ,   552954.03843986,
         990578.87780495,   522427.12380952,  1483353.425     ,
        2349243.4       ,  6124324.88      ,  2090705.38666667,
        2149526.975     ,   552954.03843986,  1467962.65666667,
        1144329.49      ,   747119.93507937,   685077.33333333,
        1131066.95480664,   907548.62981018,  1435776.04397976,
         552954.03843986,   651295.74363636,  1031537.66      ,
         552954.03843986,  1991660.168     ,   865092.65666667,
         990578.87780495,  3277596.55      ,   790935.5547619 ,
        1470798.14      ,  3836159.8       ,  1307266.58333333,
         552954.03843986,   534691.67018927,   552954.03843986,
         688575.96666667,   737021.94555556,   977078.33333333,
        1048176.38      ,   549574.24882964,  1176107.05739998,
        1850924.46      ,  1472852.30733333,   593277.23809524,
         651163.87333333,  1239559.02750046,  3107057.5       ,
        1118331.        ,   552954.03843986,  2424005.29007937,
        1179301.04761905,   733846.09492718,   922246.8       ,
         990578.87780495,  2411331.16825397,  1394810.88      ,
        1049237.18630556,  1454772.49      ,   634577.3402381 ,
         534691.67018927,   672370.02059452,   904906.76878753,
         990578.87780495,  1435776.04397976,   393083.77      ,
        1239559.02750046,  1563848.84690476,  1228034.98      ,
         743961.54      ,   990578.87780495,   552954.03843986,
         552954.03843986,  1413387.45      ,  4019215.89333333,
        2783668.78      ,  1256540.16666667,  1497994.0885    ,
        1204087.32333333,   904906.76878753,   776218.70618548,
        1400776.99      ,  4327882.74      ,   671128.455     ,
        1599987.21833333,  3128714.91      ,   775206.85681362,
        1685668.37243142,  6144000.        ,  4231575.79      ,
        6972503.97      ,   582762.03333333,   668874.99027721,
        1374063.65      ,  1628824.72791858,   615641.45238095,
        4148419.        ,   537861.59      ,  1193208.58583333,
        1131066.95480664,   517721.46428571,  2600670.97142857,
        1374798.32899231,   552954.03843986,  1453258.86888889,
         809561.48      ,  1156746.9       ,   861011.93333333,
        1635398.10666667,  1889281.47      ,   944183.41964286,
        1866865.04      ,  1890576.99      ,  6903686.92      ,
         489917.34090909,  2481304.33333333,  1366465.        ,
        1945195.04066667,   657999.81666667,  1120440.33333333,
        1819675.8       ,  2811203.05      ,  1418504.66      ,
         963578.99285714,  1852828.5       ,  1171376.53      ,
        1596410.99      ,  1581796.99      ,   839538.275     ,
        2467185.6       ,  1425875.3655    ,  1565692.99      ,
        1127157.14333333,   653723.24      ,  5555496.90857143,
        1730847.75634921,  1282788.83333333,  3684198.69      ,
        1580373.03245455,  1541710.16666667,  2006748.        ,
         911138.62735837,  2080328.94      ,  1836776.45333333,
         843480.44      ,   822627.91666667,   689584.77990981,
        1563299.79      ,  1435776.04397976,  1951507.21      ,
         886830.5636581 ,  1135437.63619048,  1265281.73809524,
        1328926.19      ,   715992.        ,  1008007.91666667,
        1377571.01833333,  1995603.35714286,  1166304.1       ,
         769638.475     ,  1250027.63333333,  1297086.66666667,
        3683490.41666667,   872126.09444444,   926214.15952381,
         814330.57333333,  1351548.48932533,  2122437.21428571,
        7711786.        ,  1048626.27321553,   798018.51851483,
        1737647.31333333,  1435776.04397976,   970369.37      ,
         747664.23190498,  2450864.71333333,  1253054.49      ,
         990578.87780495,  1427780.65666667,   686395.86659851,
         643356.56190476,  1239559.02750046,   534691.67018927,
        2390298.42      ,   936067.98      ,   789807.44833333,
        1176107.05739998,   441455.93373016,  1179713.54583333,
        1470974.39      ,   547492.04910406,  1655354.59333333,
         552954.03843986,   634577.3402381 ,   618003.2       ,
         552954.03843986,  1162214.11633333,  1119174.        ,
        1455946.8       ,  1097031.65      ,   642420.22857143,
        2187683.89      ,   674023.67828967,   515070.14666667,
        1181370.23666667,  1382468.99      ,  1529154.38      ,
        3819667.1       ,   442382.60039683,  1180340.        ,
         828668.94      ,   970469.        ,  3002926.86      ,
         594950.8867934 ,  1030363.31333333,   990578.87780495,
         922246.8       ,   717516.96      ,   783144.60055468,
         904906.76878753,  1239559.02750046,  2174707.49166667,
        2303354.64      ,  1668458.80666667,   739884.59692857,
         686395.86659851,  1036313.        ,  1547072.075     ,
         722950.03483333,   752323.98515909,  2256942.2       ,
        1681489.82142857,  1387661.255     ,   777717.5746229 ,
         762024.1       ,  1470974.39      ,  3189436.37      ,
        1187040.17333333,  2087423.43952381,   604439.44900794,
        1184018.75033655,  1067510.34      ,  1598980.74      ,
         809635.66666667,   874325.5       ,  1068646.66666667,
         574259.964942  ,   607237.        ,   777717.5746229 ,
        2033606.64      ,   621785.49      ,   548306.68238095,
         947772.5       ,   764804.25210317,  1382524.12216667,
        1196139.15714286,  1000995.34055659,   686395.86659851,
         904870.        ,  1204087.32333333,  1624477.99      ,
         676342.74666667,  1766957.04283333,  1298112.65      ,
        3912998.94      ,  1598940.52      ,  1266180.59531746,
         930239.65294156,  1351548.48932533,   795598.98412698,
         534820.71428571,  2003359.944     ,  1312783.64285714,
        4368249.5       ,   574259.964942  ,   915030.98      ,
        1465501.49      ,   816334.00266667,  1199457.43555556,
        5384199.81      ,  1687235.94666667,  1708199.61      ,
         916607.63      ,   990578.87780495,   907548.62981018,
        1526725.972     ,   911138.62735837,  3602565.87      ,
         469380.32333333,  1311876.81      ,  2706312.42333333,
        2357336.4       ,  2146605.04761905,   678091.        ,
         518459.80857143,  1247995.31      ,   969665.3047619 ,
        1093721.08035714,  1696701.        ,   757505.5       ,
        1127122.08470238,  1650403.0452381 ,   747119.93507937,
         639657.62846429,  3508909.94      ,  3345554.66      ,
        1406069.92666667,  1770788.995     ,  1548695.        ,
        2427868.24      ,   904906.76878753,   669498.849     ,
         760051.64867988,  1939241.7       ,  1640290.87      ,
         488684.93333333,  1082825.3725    ,   523969.32333333,
         488684.93333333,  4248938.04      ,  1157876.23      ,
        2941508.64      ,   747119.93507937,   949743.2       ,
        1297699.37      ,   668874.99027721,   731501.9047619 ,
         649033.95      ,  1470809.58733333,  2624610.5       ,
         906939.695893  ,   672370.02059452,  1664442.15666667,
        1418246.29764347,  1887937.17333333,   576630.39      ,
         574259.964942  ,  1160894.10714286,  1670579.99      ,
         662492.665     ,  1077280.93166667,   789852.7       ,
         856280.60838095,  2069959.1       ,   621801.78571429,
        1332319.52666667,  1475599.075     ,  1702183.97      ,
        1184018.75033655,  1406477.56      ,  2536112.13333333,
        1565692.99      ,  2922016.13333333,  1628824.72791858,
        1553399.99      ,  1915900.        ,  1044070.33333333,
         777717.5746229 ,  3463322.77      ,  1300114.09333333,
        2036141.        ,  1793918.3547619 ,   552954.03843986,
        1259696.02      ,  3222774.        ,   689584.77990981,
        2883497.83333333,  2520149.29333333,   857786.03547619,
        1271371.86      ,  1571317.88714286,   886830.5636581 ,
        1127122.08470238,  1541710.16666667,  3277596.55      ,
        4147312.33333333,   974898.95238095,   904906.76878753,
         857339.28571429,  1344160.04904762,   621801.78571429,
         425211.        ,   803008.        ,   591862.04755367,
        2003359.944     ,   904906.76878753,   908380.3       ,
         904906.76878753,   558152.66666667,  2015252.8       ,
        2714089.645     ,  1628824.72791858,  1548695.        ,
         752323.98515909,  1176127.82714286,   688719.44877345,
        1444694.76380952,  1130724.57      ,   784308.97833333,
         552954.03843986,  1851844.56416667,   428959.76333333,
         430745.44642857,   765618.75      ,  1523748.96      ,
         914465.56666667,   673971.66666667,  1219767.63571429,
        1374063.65      ,   904906.76878753,   753645.5       ,
         674998.8       ,  1872898.5       ,  1395008.52966667,
         634577.3402381 ,   904906.76878753,  3372031.15      ,
        1121914.1       ,  2292791.66666667,  1001319.04571429,
        1081261.        ,  1031537.66      ,   611345.83333333,
         851834.40666667,   912832.83875   ,  2519291.70428571,
        2863302.31333333,   833195.77816517,  2427868.24      ,
         859375.58      ,  1336708.1       ,   990578.87780495,
         878778.36904762,  2706312.42333333,   621801.78571429,
         625432.48333333,   840969.06666667,  1225489.56133333,
        1520540.3655    ,   757996.7375    ,   760940.44666667,

In [30]:
from sklearn.linear_model import ElasticNet
model = ElasticNet()
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.2887299552112882
Testing Score: 0.35309095493436526

/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/ericosabino/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(