In [1]:
#Import Dependencies

from splinter import Browser
from bs4 import BeautifulSoup   # had to remove as soup for code to work
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import os
import time
from sqlalchemy import create_engine
from config import db_password

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 97.0.4692
[WDM] - Get LATEST driver version for 97.0.4692
[WDM] - Driver [C:\Users\Chris\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [3]:
# Visit the webpage
url = 'https://www.realtor.ca/map#ZoomLevel=4&Center=54.920828%2C-99.316406&LatitudeMax=70.53588&LongitudeMax=-29.70703&LatitudeMin=29.56390&LongitudeMin=-168.92578&view=list&Sort=6-D&PropertyTypeGroupID=1&PropertySearchTypeId=1&TransactionTypeId=2&Currency=CAD'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

False

In [4]:
df = []
def scrapping_function(url):
    browser.visit(url)
    time.sleep(5)
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    data = soup.find_all(class_="cardCon")
    for i, elem in enumerate(data):
        price = data[i].find(class_="listingCardPrice").get_text()
        address = data[i].find(class_="listingCardAddress").get_text()
        rooms = data[i].find_all(class_="listingCardIconNum")
        bedrooms = rooms[0].get_text()
        bathrooms = rooms[1].get_text()
        df.append({"price" : price, "address" : address, "bedrooms" : bedrooms, "bathrooms":bathrooms})

In [5]:
scrapping_function(url)

In [6]:
df

[{'price': '$800,000 ',
  'address': '82 13819 232 STREET, Maple Ridge, British Columbia ',
  'bedrooms': '3',
  'bathrooms': '3'},
 {'price': '$159,900 ',
  'address': '3104, 4001C 49 Street NW, Calgary, Alberta ',
  'bedrooms': '1 + 0',
  'bathrooms': '1'},
 {'price': '$235,000 ',
  'address': '203 210 3rd AVE E, Rosetown, Saskatchewan ',
  'bedrooms': '2',
  'bathrooms': '2'},
 {'price': '$330,000 ',
  'address': '10 Covington Place, Bible Hill, Nova Scotia ',
  'bedrooms': '2 + 0',
  'bathrooms': '2'},
 {'price': '$5,000,000 ',
  'address': '263 SOPER PLACE, Ottawa, Ontario ',
  'bedrooms': '5 + 1',
  'bathrooms': '7'},
 {'price': '$109,000 ',
  'address': '310B, 295 columbia Boulevard, Lethbridge, Alberta ',
  'bedrooms': '1 + 0',
  'bathrooms': '1'},
 {'price': '$104,000 ',
  'address': '309A, 295 Columbia Boulevard, Lethbridge, Alberta ',
  'bedrooms': '1 + 0',
  'bathrooms': '1'},
 {'price': '$99,000 ',
  'address': '310A, 295 Columbia Boulevard W, Lethbridge, Alberta ',
  'bedrooms': '1 + 0',
  'bathrooms': '1'},
 {'price': '$104,000 ',
  'address': '110A, 295 Columbia Boulevard, Lethbridge, Alberta ',
  'bedrooms': '1 + 0',
  'bathrooms': '1'},
 {'price': '$104,000 ',
  'address': '109B, 109b columbia Boulevard W, Lethbridge, Alberta ',
  'bedrooms': '1 + 0',
  'bathrooms': '1'},
 {'price': '$299,000 ',
  'address': '4832 53 Avenue, Whitecourt, Alberta ',
  'bedrooms': '3 + 1',
  'bathrooms': '3'},
 {'price': '$299,900 ',
  'address': '48 Alberts Close, Red Deer, Alberta ',
  'bedrooms': '2 + 0',
  'bathrooms': '4'}]

In [7]:
df_realestate = pd.DataFrame(df)

In [8]:
df_realestate.head()

,price,address,bedrooms,bathrooms
0,"$800,000","82 13819 232 STREET, Maple Ridge, British Colu...",3,3
1,"$159,900","3104, 4001C 49 Street NW, Calgary, Alberta",1 + 0,1
2,"$235,000","203 210 3rd AVE E, Rosetown, Saskatchewan",2,2
3,"$330,000","10 Covington Place, Bible Hill, Nova Scotia",2 + 0,2
4,"$5,000,000","263 SOPER PLACE, Ottawa, Ontario",5 + 1,7

In [9]:
# Save the cleaned file to csv
df_realestate.to_csv('Realestate_cleaned.csv')

In [10]:
# load df into sql database
db_string=f"postgresql://postgres:{db_password}@127.0.0.1:5432/capstone_group6"
engine=create_engine(db_string)
df_realestate.to_sql(name='properties', con=engine, if_exists='replace', index=False)