In [1]:
# import dependancies
import pandas as pd

from sqlalchemy import create_engine
from config import db_password

In [2]:
# Load in data from csv file
df = pd.read_csv('Resources/listing.csv')
df.head(10)

   Unnamed: 0                       Address           Price      Beds    Baths
0           0  2323 Confederation Pkwy 1102    $430,000 CAD    2 beds  2 baths
1           1         816 Lansdowne Ave 411    $598,000 CAD  1+1 beds  1 baths
2           2               3878 Highway 35    $529,900 CAD  4+2 beds  3 baths
3           3               710 Rosebank Rd    $899,900 CAD    0 beds  0 baths
4           4        219 Major Mackenzie Dr  $5,999,999 CAD    0 beds  0 baths
5           5          123 Woodbine Ave 315    $489,999 CAD    0 beds  1 baths
6           6                535 Vaughan Rd  $1,026,000 CAD    0 beds  0 baths
7           7               288 Schooley Rd    $698,888 CAD    3 beds  2 baths
8           8           440 Bonny Meadow Rd  $2,249,000 CAD  4+1 beds  4 baths
9           9           2096 Mayflower Blvd  $1,799,900 CAD  4+2 beds  4 baths

In [3]:
# Remove text from beds and baths column
#df['Beds'] = df['Beds'].str.extract(r'(\d+)', expand=False) - this removes all text(does not work for 1+1 types)
df['Beds'] = df['Beds'].str.replace('\ beds','')
df['Baths'] = df['Baths'].str.extract(r'(\d+)', expand=False)
df['Price'] = df['Price'].str.replace('\ CAD', '')
df['Price'] = df['Price'].str.replace(r'\$', '')
df['Price'] = df['Price'].str.replace(r'\,', '')
df['Price'] = df['Price'].astype(int)
df.head(5)

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

   Unnamed: 0                       Address    Price Beds Baths
0           0  2323 Confederation Pkwy 1102   430000    2     2
1           1         816 Lansdowne Ave 411   598000  1+1     1
2           2               3878 Highway 35   529900  4+2     3
3           3               710 Rosebank Rd   899900    0     0
4           4        219 Major Mackenzie Dr  5999999    0     0

In [4]:
df.dtypes

Unnamed: 0     int64
Address       object
Price          int32
Beds          object
Baths         object
dtype: object

In [5]:
df.shape

(3973, 5)

In [6]:
# Save the cleaned file to csv
df.to_csv('Scraping_realtor_cleaned.csv')

In [8]:
# load df into sql database
db_string=f"postgresql://postgres:{db_password}@127.0.0.1:5432/capstone_group6"
engine=create_engine(db_string)
df.to_sql(name='scraping_realtor', con=engine, if_exists='replace', index=False)