In [1]:
# import dependancies
import pandas as pd

In [2]:
xls = pd.ExcelFile('Resources/Not_Seasonally_Adjusted_RealEstate_Canada.xlsx')

In [3]:
# Read multiple sheets into one DataFrame
df = pd.concat(pd.read_excel(xls, sheet_name=None), ignore_index=False)

In [4]:
# Move sheet name from index to column and rename column to region
df.reset_index(inplace=True)
df = df.rename(columns={'level_0':'Region'})

In [5]:
# Delete column level_1
df = df.drop(['level_1'], axis = 1)

In [6]:
df.head()

,Region,Date,Composite_HPI,Single_Family_HPI,One_Storey_HPI,Two_Storey_HPI,Townhouse_HPI,Apartment_HPI,Composite_Benchmark,Single_Family_Benchmark,One_Storey_Benchmark,Two_Storey_Benchmark,Townhouse_Benchmark,Apartment_Benchmark
0,Aggregate,2005-01-01,100.0,100.0,100.0,100.0,100.0,100.0,241700,258600,211700,297700,204700.0,186300.0
1,Aggregate,2005-02-01,101.0,101.0,101.0,100.9,100.8,101.0,244100,261200,213800,300400,206300.0,188200.0
2,Aggregate,2005-03-01,101.9,102.1,102.3,102.0,101.4,101.5,246300,264000,216500,303700,207600.0,189100.0
3,Aggregate,2005-04-01,102.9,103.1,103.4,102.8,102.1,102.3,248700,266600,218900,306100,209000.0,190600.0
4,Aggregate,2005-05-01,103.6,103.8,104.3,103.5,102.9,103.0,250400,268400,220800,308200,210600.0,191900.0

In [11]:
df.shape

(9947, 14)

In [10]:
# Save the cleaned file to csv
df.to_csv('Housing_Prices_cleaned.csv')