In [5]:
#import dependencies

import pandas as pd
from time import time, sleep
from requests import Session
from bs4 import BeautifulSoup as soup
import time

In [6]:
#initiating the session
main_session = Session()
table = []
url = "https://barrie.listing.ca/real-estate-price-history.htm"
resp = main_session.get(url)

historical_page = soup(resp.content, 'html.parser')

print("Classes of each table:")
for table in historical_page.find_all("table"):
    print(table.get("class"))
    print(table.get("style"))

Classes of each table:
None
width:100%;
None
width:100%;
None
width:100%;
None
width:100%;
None
width:100%;
None
width:100%;
None
width:100%;
None
width:100%;
None
width:100%;
None
width:100%;
None
width:100%;
None
None
None
None
None
None

In [22]:
#finding all the tables with the relevant information
tables = historical_page.find_all("table",style = "width:100%;", cellspacing = "5")
row = tables[3].find_all("tr")#.find_all("td")
#row[2].find_all("td")
row

[<tr>
 <td style="width:10%;font-weight:bold;">Month</td>
 <td style="text-align:center;font-weight:bold;"># of Sales</td>
 <td style="text-align:center;font-weight:bold;">Avg List Price</td>
 <td style="text-align:center;font-weight:bold;">Avg Sold Price</td>
 <td style="text-align:center;font-weight:bold;">Above/Below Asking</td>
 <td style="text-align:center;font-weight:bold;">Monthly Change ($)</td>
 <td style="text-align:center;font-weight:bold;">Monthly Change (%)</td>
 <td style="text-align:center;font-weight:bold;">Days on Market</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">December</td>
 <td style="font-size:12px;text-align:right;">96</td>
 <td style="font-size:12px;text-align:right;">$400,250</td>
 <td style="font-size:12px;text-align:right;">$389,750</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-2.62%</td>
 <td style="font-size:12px;text-align:right;color:#008000;">$15,625</td>
 <td style="font-size:12px;text-align:right;color:#008000;">4.17%</td>
 <td style="font-size:12px;text-align:right;">29</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">November</td>
 <td style="font-size:12px;text-align:right;">160</td>
 <td style="font-size:12px;text-align:right;">$382,050</td>
 <td style="font-size:12px;text-align:right;">$374,125</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-2.07%</td>
 <td style="font-size:12px;text-align:right;color:#008000;">$5,500</td>
 <td style="font-size:12px;text-align:right;color:#008000;">1.49%</td>
 <td style="font-size:12px;text-align:right;">33</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">October</td>
 <td style="font-size:12px;text-align:right;">187</td>
 <td style="font-size:12px;text-align:right;">$379,825</td>
 <td style="font-size:12px;text-align:right;">$368,625</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-2.94%</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-$7,750</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-2.05%</td>
 <td style="font-size:12px;text-align:right;">29</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">September</td>
 <td style="font-size:12px;text-align:right;">168</td>
 <td style="font-size:12px;text-align:right;">$385,025</td>
 <td style="font-size:12px;text-align:right;">$376,375</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-2.24%</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-$3,625</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-0.95%</td>
 <td style="font-size:12px;text-align:right;">32</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">August</td>
 <td style="font-size:12px;text-align:right;">190</td>
 <td style="font-size:12px;text-align:right;">$391,800</td>
 <td style="font-size:12px;text-align:right;">$380,000</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-3.01%</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-$675</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-0.17%</td>
 <td style="font-size:12px;text-align:right;">36</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">July</td>
 <td style="font-size:12px;text-align:right;">169</td>
 <td style="font-size:12px;text-align:right;">$389,562</td>
 <td style="font-size:12px;text-align:right;">$380,675</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-2.28%</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-$15,575</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-3.93%</td>
 <td style="font-size:12px;text-align:right;">26</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">June</td>
 <td style="font-size:12px;text-align:right;">244</td>
 <td style="font-size:12px;text-align:right;">$403,037</td>
 <td style="font-size:12px;text-align:right;">$396,250</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-1.68%</td>
 <td style="font-size:12px;text-align:right;color:#008000;">$8,775</td>
 <td style="font-size:12px;text-align:right;color:#008000;">2.26%</td>
 <td style="font-size:12px;text-align:right;">21</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">May</td>
 <td style="font-size:12px;text-align:right;">164</td>
 <td style="font-size:12px;text-align:right;">$397,425</td>
 <td style="font-size:12px;text-align:right;">$387,475</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-2.5%</td>
 <td style="font-size:12px;text-align:right;color:#008000;">$3,725</td>
 <td style="font-size:12px;text-align:right;color:#008000;">0.97%</td>
 <td style="font-size:12px;text-align:right;">20</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">April</td>
 <td style="font-size:12px;text-align:right;">177</td>
 <td style="font-size:12px;text-align:right;">$390,950</td>
 <td style="font-size:12px;text-align:right;">$383,750</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-1.84%</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-$17,400</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-4.33%</td>
 <td style="font-size:12px;text-align:right;">24</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">March</td>
 <td style="font-size:12px;text-align:right;">150</td>
 <td style="font-size:12px;text-align:right;">$406,062</td>
 <td style="font-size:12px;text-align:right;">$401,150</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-1.2%</td>
 <td style="font-size:12px;text-align:right;color:#008000;">$18,975</td>
 <td style="font-size:12px;text-align:right;color:#008000;">4.96%</td>
 <td style="font-size:12px;text-align:right;">18</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">February</td>
 <td style="font-size:12px;text-align:right;">129</td>
 <td style="font-size:12px;text-align:right;">$387,812</td>
 <td style="font-size:12px;text-align:right;">$382,175</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-1.45%</td>
 <td style="font-size:12px;text-align:right;color:#008000;">$81,550</td>
 <td style="font-size:12px;text-align:right;color:#008000;">27.12%</td>
 <td style="font-size:12px;text-align:right;">21</td>
 </tr>,
 <tr>
 <td style="font-size:12px;width:10%;">January</td>
 <td style="font-size:12px;text-align:right;">94</td>
 <td style="font-size:12px;text-align:right;">$310,562</td>
 <td style="font-size:12px;text-align:right;">$300,625</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-3.19%</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-$74,750</td>
 <td style="font-size:12px;text-align:right;color:#d00000;">-19.91%</td>
 <td style="font-size:12px;text-align:right;">27</td>
 </tr>]

In [14]:
df = pd.DataFrame(columns = ["Month","Sold","List_price_avg","Sold_price_avg","above_below","monthly_change","monthly_change_per","days_on_mar"])

for i in range(0,len(tables)):
    row = tables[i].find_all("tr")
    for j in range(0,len(row)):
        columns = row[j].find_all("td")
        
        if (columns !=[]):
            a = columns[0].text.strip()
            b = columns[1].text.strip()
            c = columns[2].text.strip()
            d = columns[3].text.strip()
            e = columns[4].text.strip()
            f = columns[5].text.strip()
            g = columns[6].text.strip()
            h = columns[7].text.strip()
            
            df = df.append({"Month": a, "Sold": b, "List_price_avg": c, "Sold_price_avg": d, "above_below": e, "monthly_change": f, "monthly_change_per": g, "days_on_mar": h}, ignore_index=True)

In [15]:
df.head()

,Month,Sold,List_price_avg,Sold_price_avg,above_below,monthly_change,monthly_change_per,days_on_mar
0,Month,# of Sales,Avg List Price,Avg Sold Price,Above/Below Asking,Monthly Change ($),Monthly Change (%),Days on Market
1,December,172,"$627,425","$700,812",11.69%,"$23,633",3.48%,7
2,November,216,"$607,062","$677,179",11.55%,"$39,617",6.21%,8
3,October,261,"$597,809","$637,562",6.64%,"$5,837",0.92%,8
4,September,270,"$593,675","$631,725",6.4%,"$21,725",3.56%,10

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Month               130 non-null    object
 1   Sold                130 non-null    object
 2   List_price_avg      130 non-null    object
 3   Sold_price_avg      130 non-null    object
 4   above_below         130 non-null    object
 5   monthly_change      130 non-null    object
 6   monthly_change_per  130 non-null    object
 7   days_on_mar         130 non-null    object
dtypes: object(8)
memory usage: 8.2+ KB