In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [2]:
df = pd.read_csv("listing_clean_with_Postal_codes_errors_removed.csv")
df

,Unnamed: 0,Unnamed: 0.1,Address,Price,Beds,Baths,City,Area,Street,Description,Postal_Code
0,0,0,2323 Confederation Pkwy 1102,430000,2,2,Mississauga,Cooksville,Confederation Pkwy,Beautiful Bright And Spacious Condo Unit 2 Bed...,L5B 1N1
1,1,1,816 Lansdowne Ave 411,598000,2,1,Toronto,Dovercourt-Wallace Emerson-Junction,Lansdowne Ave,Large Renovated One Bedroom+Den 646 Sf! Great ...,M6H 3Z6
2,2,6,109 Lake St,750000,4,2,St. Catharines,NaN,NaN,Investors!! Maintenance-Free Solid 4 Plex-Full...,L2R 5Y5
3,3,7,321 Queenston Rd,1899000,4,4,Niagara-on-the-Lake,NaN,NaN,"Welcome To 321 Queenston Rd, Overlooking Viney...",L8K 3P3
4,4,8,650 Upper Sherman Ave,899000,4,2,Hamilton,Burkholme,Upper Sherman Ave,Absolutely Fantastic Opportunity !!! Detach Ho...,L8V 3M7
...,...,...,...,...,...,...,...,...,...,...,...
3247,3751,3967,638 Mcgogy Rd 26,47900,2,1,Dryden,NaN,NaN,"2 Bed, 1 Bath Mobile Home In A Very Well Maint...",P8N 3H6
3248,3752,3968,176 Church St,1199000,6,3,Brampton,Brampton North,Church St,Excellent Location Detached House Close To All...,L6J 1H3
3249,3753,3969,283 Barrie Rd,1349000,4,4,Barrie Rd,NaN,NaN,"Luxury, Space & Strength All-In-1 Home Designe...",L3V 3C1
3250,3754,3970,4 Hughes St,1429995,4,2,NaN,Oak Ridges,Hughes St,"Property With High Development Potential, Area...",L4E 1A5
3251,3756,3972,90 Crosby Ave,2289000,7,4,NaN,Crosby,Crosby Ave,4 Units [3 Two Bedrooms( Main Building) & 1 O...,L4C 3C1

In [3]:
df.City.value_counts()

Toronto             157
Mississauga          90
Brampton             69
Markham              66
Vaughan              63
                   ...
Fry Cres              1
Boardwalk Dr          1
Lynn Williams St      1
Leader Lane           1
Barrie Rd             1
Name: City, Length: 321, dtype: int64

In [ ]:
import statsmodels.api as sm
sm.OLS(df.Price, df[['Beds', 'Baths']]).fit().summary()

In [4]:
#separate the other attributes from the predicting attribute
X = df[['Beds', 'Baths', 'City']]

#separate the predicting attribute into Y for model training 
y = df['Price']

In [ ]:
X.City

In [5]:
X = df[['Beds','Baths','City']].copy()
X['City'] = LabelEncoder().fit_transform(X['City'])
X = X.dropna()
X.head()

   Beds  Baths  City
0     2      2   182
1     2      1   287
2     4      2   264
3     4      4   195
4     4      2   120

In [6]:
X_scaled = MinMaxScaler().fit_transform(X)

In [7]:
X.describe()

              Beds        Baths         City
count  3252.000000  3252.000000  3252.000000
mean      3.586101     2.784748   233.611624
std       1.633893     1.516375   102.453429
min       1.000000     1.000000     0.000000
25%       2.000000     2.000000   171.000000
50%       3.000000     2.000000   287.000000
75%       4.000000     4.000000   321.000000
max      18.000000    14.000000   321.000000

In [8]:
# Check the balance of our target values
y.value_counts()

999000     70
899000     60
799000     57
699900     56
799900     51
           ..
6995000     1
1999905     1
4850000     1
749990      1
2289000     1
Name: Price, Length: 1109, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [14]:
# Fit the model to the training data, and calculate the scores for the training and testing data.
from sklearn.linear_model import LinearRegression
model = LinearRegression()

### BEGIN SOLUTION
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.3132317214154352
Testing Score: 0.33049151549004385

In [15]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [16]:
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.741076102787179
Testing Score: 0.36051172264197007

In [ ]:
y_prediction =  model.predict(X_test)
y_prediction

In [17]:
from sklearn.linear_model import ElasticNet
model = ElasticNet()
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.022005550154585607
Testing Score: 0.024488227221033387